@charset "UTF-8";
@import url("normalize.css");
@import url(../font/icomoon/style.css);
@font-face{font-family: 'LithosPro-Black';
			src:url('../font/fuentes/LithosPro-Black.otf') format('OpenType');
		   font-weight: normal; font-style: normal;}
.ie6 img {width:100%;}
.hr{margin: 0px;}

body{background-color: #ccc;
	color:black;
	margin: 10px 5%;
	text-align: justify;
	max-width: 1360px;
}
	
ul li{list-style: none;}

h1{font-family: 'LithosPro-Black';margin-top: 40px;}
footer{position: relative;bottom: 0px; width: 75%;float: left;}
footer #fder{display: none;}
article{margin-top: 40px;}
#comen table{border:solid 1px;;width: 400px;box-sizing: border-box;}
#comen table tr{text-align: left;}
#input1,textarea{width: 100%;box-sizing: border-box;}
textarea{height: 100px;}
#izq {
	font-size: 18px;
	float: left;
	width: 75%;

	box-sizing: border-box;
} 
#izq img {float: left;margin: 0 10px 0 10px; }
#der p{margin: 0 0 0 20px;font-size: 18px;}
#izq i{float: right; font-size: 14px;}
#clear{clear: both;}
#der{
	width: 25%;
	float: left;
	box-sizing: border-box;
}
#der hr{margin: 10px 0 10px 20px;}
#mes{box-sizing: border-box;}
#semana{font-size: 12px;}
.tit{display: block; width: 250px;}
.tit{cursor: pointer; color: blue;}
.tit:hover{color: orange;}
#j17{display: none;}
tr{text-align: center;}

#a{width: 100%;height: 28px; text-align: center;clear: both;}
#a a{padding: 5px 20px;margin: 0 2px; ;background-color: #3366cc;} 
#a a:visited{color:#fff;}
#a a:active{color: #000;}
#a a:hover{background-color: #003399;}
#a a{color:#fff;}

/*			CELULAR
*/
@media screen and (max-width: 595px){
	.hr{display: none;}
	#der {display: none;}
	#izq, footer{margin: 0 auto;width: 100%;}
	#a {display: none;position: relative;position:fixed !important;width: 90%;top:32px; z-index:10 !important;}
	#a a{width: 100%;display: block;box-sizing: border-box;background-color:rgba(51,102,204,0.7);
		text-align: left;border:solid 1px #ccc;line-height: 30px;}

	.icon-men:before {content: "\e9e0";}
	.icon-men:hover{color:#fff;}
	.icon-men{
   		font-family: 'icomoon';
   		color:#003399;
   		font-size: 40px;
   		width: 0;cursor: pointer;
   		display: block;
   		margin-top: -5px;
   		margin-right:  40px;
   		float: right;
   		box-sizing: border-box;
	}
	.barra{background-color: rgba(255,255,255,0.5);width: 100%;height: 30px;border:solid 1px #fff;
position:fixed !important; right:0;left: 0; top:0; z-index:10 !important}
.barra a{margin: 0 5px;display: block; width: 30px;float: left; font-size: 30px;}

/* 			ICONOS
*/
#iconos a{margin: 0 5px;display: block; width: 30px; height: 30px;float: left; font-size: 10px;
}
.icon-face:before {content: "\ea67";}
.icon-face:hover{color:#0033cc;}
.icon-face{

   font-family: 'icomoon';
   color:#223399;
   width: 0px;
   line-height: 0px;
   padding-top: 15px;
   display: block;
	}
.icon-twit:before {content: "\ea7c";}
.icon-twit:hover{color:#003399;}
.icon-twit{
   font-family: 'icomoon';
   color:#3366cc;
   width: 0px;
   line-height: 0px;
   padding-top: 15px;
   display: block; 
	}
.icon-up:before {
  content: "\e930";}
.icon-up{font-size: 45px;position:fixed !important; right:0; bottom:5px; z-index:10 !important;
	margin: 10px;color:#003399;}
.icon-up:hover{color: #666;}
footer #fizq{width: 70%;float: left;box-sizing: border-box;}
footer #fder{width: 30%;float: left;box-sizing: border-box;margin-top: 16px;display: block;}
#comen table{width: 350px;}
}
@media screen and (max-width: 550px){
	#izq img{float: none;}
	 #izq i{float: left;}
}
@media screen and (max-width: 400px){
footer #fizq, footer #fder{float: none;width: 100%;}
#comen table{width: 100%;}
}
@media screen and (max-width: 325px){
	header img {width: 100%;}
	#izq img{width: 90%;}
}
/*			TABLETA
*/
@media screen and (min-width: 595px) and (max-width: 820px){
	#izq img{width: 260px;}
	#izq{width: 100%;font-size: 25px;}
	#der {display: none;font-size: 25px;}
	#izq i{float: right; font-size: 18px;}
	footer{font-size: 23px;width: 100%;}
	.icon-up:before {
  content: "\e930";}
.icon-up{font-size: 55px;position:fixed !important; right:0; bottom:5px; z-index:10 !important;
	margin: 10px;color:#003399;}
.icon-up:hover{color: #666;}
footer #fizq{width: 70%;float: left;box-sizing: border-box;}
footer #fder{width: 30%;float: left;box-sizing: border-box;margin-top: 16px;display: block;}
#comen table{width: 450px;}
}






